{% extends 'base.html.twig' %}

{% block title %}{{ 'title.add_patch_note'|trans }}{% endblock %}

{% block body %}
    <div class="container page_wrapper">
        <h1 class="page_title heading_primary">{{ 'heading.add_new_update'|trans }}</h1>

        {{ form_start(form, {'attr': {'class': 'form_wrapper'}}) }}
        <div class="form_content_wrapper">
            {{ form_widget(form) }}
        </div>

        <div class="action_buttons_wrapper margin_top_3">
            <button type="submit" class="button button_primary">{{ 'action.save'|trans }}</button>
            <a href="{{ path('patch_notes_view') }}" class="button button_secondary">{{ 'action.back_to_list'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
